* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-bottom: 900px;
  background-color: #f9f9f9;
}

header {
  position: fixed;
  width: 100%;
  overflow: auto;
  background-color: white;
  background-color: white;
  z-index: 9999999999;
}

.header-inner {
  overflow: auto;
  padding: 0px 50px 0px 50px;
  border-bottom: 1px solid #d9d9d9;


}

header .left {
  float: left;
  margin-top: 2px;
}

header .right {
  float: right;
}

header .right,
header .left {
  display: inline-block;
}

.hey {
  font: normal 14px sans-serif;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 5px;
}

.hey-anchor-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.hey-anchor-container img:hover {
  animation-name: jump;
  animation-duration: .3s;

}

header .right {
  overflow: hidden;
}

header .right a {
  position: relative;
  display: inline-block;
  float: left;
  font: normal 20px sans-serif;
  color: #333;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .3s ease-out;
  vertical-align: middle;
}

header .right a:hover {
  background-color: #f9f9f9;
}

header .right a::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  bottom: -5px;
  transition: all .2s ease-out;
}


header .right a:nth-child(even)::after {
  background: dodgerblue;
}

header .right a:nth-child(even):hover {
  color: dodgerblue;
}


header .right a:nth-child(odd)::after {
  background: orangered;
}

header .right a:nth-child(odd):hover {
  color: orangered;
}

header .right a:hover::after {
  bottom: 0px !important;
}

header .right a:hover {}


.bottom_line li a:hover:not(.active)::after {
  bottom: 0px;
}


.main-home-outer {
  width: 1100px;
  background-color: white;
  margin: auto;
  padding-top: 75px;

}

.main-home {
  display: flex;
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.main-home .left,
.main-home .right {}

.main-home .left {
  flex: 3;
  overflow: hidden;
}

.main-home .right {
  flex: 1;
}

.main-home .right .user-image {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px #999;
  z-index: 99999999999;
  padding: 10px;
  border-radius: 50%;
}

.main-home .right .user-signature {
  width: 100%;
}


.hi-whole {
  width: 90%;
  height: 100%;
  margin-left: 10px;
  background: #fcef2e;
  transform: skewX(30deg);
}

.hi,
.iam,
.myquote {
  display: inline-block;
  transform: skewX(-30deg);
}

.hi {
  margin-left: 200px;
  font: bold 75px sans-serif;
}

.iam {
  margin-left: 153px;
  font: bold 54px sans-serif;
  text-transform: uppercase;
}

.iam b {
  background: white;
  padding-left: 6px;
  padding-right: 6px;
  border: 12px dashed #fcef2e;
  color: black;

  font: normal 50px 'permanent marker'
}

.myquote {
  margin-left: 57px;
  text-transform: uppercase;
  margin-top: 20px;
  border: 21px dashed #fcef2e;
  background: white;
  color: red;
  margin-right: 58px;
  text-align: -webkit-center;
  padding: 6px 45px;
  margin-bottom: 36px;
  font: normal 45px 'permanent marker'
}

/*/
  /////////////////////////*/
.main-home {}

.who-i-am,
.tech-stack,
.education,
.projects,
.awards,
.interests,
.contact {
  background: white;
  margin-left: 40px;
  margin-right: 40px;

}


.heading-li {
  display: inline-block;
  color: black;
  transform: skewX(40deg);
  background-color: #fcef2e;
  margin-top: 70px;
  margin-bottom: 30px;


}

.heading-li span {
  display: inline-block;
  text-transform: uppercase;
  transform: skewX(-40deg);
  font: bold 20px sans-serif;
  padding: 10px 25px;
  border: 10px dashed white;
}

.who-bio {
  background-color: white;
  text-align: center;
}

.who-bio p {
  width: 1000px;
  display: inline-block;
  border: 20px dashed white;
  background-color: #fcef2e;
  padding: 30px 50px;
  text-align: justify;
  font: normal 18px sans-serif;
  word-spacing: 5px;
  line-height: 30px;
  font: bold 33px 'Long Cang'


}

.who-bio p img {
  display: inline-block;
  width: 130px;
  float: left;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 50%
}

.download-container {
  text-align: center;
}

.download-container a {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  font: bold 20px sans-serif;
  background: red;
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
  margin-top: 20px;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.download-container a::before {
  content: "\f2dd";
  font-family: Ionicons;
  color: white;
  margin-right: 5px;
  transition: all .3s ease-in-out;
  text-decoration: underline;
  text-decoration-color: red;
}

.download-container a:hover {
  text-decoration: underline;
}


/*/////////////////////////////////////////////////////////////////////////////////////*/

.tech-stack {}

.tech-stack-inner {}

.tech-container {
  display: flex;
  width: 100%;
  padding: 30px 0px;
}

.tech-item-div {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  transition: all .2s ease-in-out;

}

.tech-item-div:hover {}

.tech-item-div {
  margin-right: 100px;
}

.tech-item-div:first-of-type {
  margin-left: 100px;
}


.tech-item-div img {
  width: 100%;
  height: auto;
}

.tech-proficiency {
  position: relative;
  display: block;
  text-align: center;
  background: white;
  font: bold 13px sans-serif;
  text-transform: uppercase;
  text-decoration: underline;

}

.intermediate {
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advanced {
  background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 0, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.education-details-container {
  text-align: center;
  margin-top: 20px;
}

.education-details-container .table-holder {
  display: inline-block;
}

.education-details-container tr {
  border: 1px solid red;
}

.education-details-container th {
  color: #333;
  font: bold 16px sans-serif;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.education-details-container td {
  text-align: left;
  font: normal 17px sans-serif;
  color: #333;
  padding: 20px 60px 20px 0px;
}

.education-details-container td:last-of-type {
  padding-right: 0 !important;
}


.education-details-container td a {
  color: darkblue;
  text-transform: capitalize;
}

.education-details-container td a:hover {
  text-decoration: none;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/


.projects-details-container {
  text-align: center;
}

.projects-details-container .table-holder {
  display: inline-block;
}

.projects-details-container .table-holder th,
.projects-details-container .table-holder td,
.projects-details-container .table-holder th a,
.projects-details-container .table-holder th span {
  text-align: left;
}

.projects-details-container .table-holder th,
.projects-details-container .table-holder td {
  padding: 30px 10px;
}

.projects-details-container .table-holder th {
  color: #333;
  text-transform: uppercase;
  font-weight: normal;
  font: bold 18px sans-serif;

}

.projects-details-container .table-holder td a {
  color: darkblue;
  font: normal 13px sans-serif;
}

.projects-details-container .table-holder td span {
  color: #F44336;
}

.projects-details-container .table-holder td {
  color: #333;
  font: normal 17px sans-serif
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                                    awards css is shared with project's section - see above*/
.awards-details-container .table-holder .dated span {
  color: #F44336;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.interests-text-container {
  overflow: auto;
}

.interests-text-container .interest-text {
  display: inline-block;
  float: left;
  margin: 30px 80px  10px 50px;
  padding:  20px 30px ;
  font: bold 33px 'Long Cang';
  border-radius: 4px;
  box-shadow: 0 0 10px #ddd;
  border: 1px solid #ddd;
  text-transform: capitalize;
}
.interests-text-container .interest-text:nth-of-type(even) {
  background: #fcef2e;
}
