*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  bor=der: 1px solid red;
}

header{
  overflow: auto;
}

.header-inner{
  overflow: auto;
  padding: 15px 50px 0px 50px;
  border: 1px solid #ddd;
  box-shadow: 0 0 4px #ccc;
  
  margin-bottom: 5px;

}
header .left{
  float: left;
}

header .right{
  float: right;
}

header .right,
header .left{
  display: inline-block;
}

.hey{
  font: normal 14px sans-serif;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 5px;
}

.hey-anchor-container img{
 width: 30px;
 height: 30px; 
 border-radius: 50%;
}

header .right{
overflow: hidden;
}

header .right a{
  position: relative;
  display: inline-block;
  float: left;
  font: normal 20px sans-serif;
  color: #333;
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .3s ease-out;
  vertical-align: middle;
}
header .right a::after{
  content: '';
		position: absolute;
    left: 0;
    width: 100%;
  	height: 5px;
    bottom: -5px;
    transition: all .2s ease-out;
}


header .right a:nth-child(even)::after {
  background: dodgerblue;
}

header .right a:nth-child(even):hover{
  color: dodgerblue;
}


header .right a:nth-child(odd)::after {
  background: orangered;
}

header .right a:nth-child(odd):hover {
  color: orangered;
}

header .right a:hover::after {
  bottom: 0px !important;
}

header .right a:hover{
}


.bottom_line li a:hover:not(.active)::after {
  bottom: 0px;
}


.main-home-outer{
  width: 1100px;
  margin: auto;

}

.main-home{
  display: flex;
  margin: auto;
  overflow: hidden;
  borer: 2px solid green;

}
.main-home .left,
.main-home .right{
}

.main-home .left{ 
flex: 2;
}

.main-home .right{
flex: 1;
overflow:hidden;
}

.main-home .right img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: inset 0 0 5px #afafaf !important;
  padding: 5px;
}

.hi-whole{
  width: 90%;
  height: 100%;
  margin-left: -70px;
  background:yellow;
  transform: skewX(30deg);
}
.hi,
.iam,
.myquote{
  display: inline-block;
  transform: skewX(-30deg);
}

.hi{
  margin-left: 200px;
  font: bold 100px sans-serif;
}

.iam{
  margin-left: 153px;
  font: bold 54px sans-serif;
  text-transform: uppercase;
}

.iam b{
  background: white;
  padding-left: 6px;
  padding-right: 6px;
  border-left: 10px dashed yellow;
  border-right: 10px dashed yellow;
  border-top: 10px dashed yellow;
  border-bottom: 10px dashed yellow;
}

.myquote{
  margin-left: 57px;
  font: bold 50px sans-serif;
  text-transform: uppercase;
  margin-top: 45px;
  border: 10px dashed yellow;
  background: white;
  margin-right: 58px;
  text-align: -webkit-center;
  padding-top: 6px;
  padding-bottom: 6px;
}