* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  bowrder: 1px solid red;

}

html {
  scroll-behavior: smooth;
}

body {
  margin-bottom: 900px;
  background-color: #f9f9f9;
}

header {
  overflow: auto;
  background-color: white;
}

.header-inner {
  overflow: auto;
  padding: 5px 50px 0px 50px;
  border-bottom: 1px solid #d9d9d9;


}

header .left {
  float: left;
}

header .right {
  float: right;
}

header .right,
header .left {
  display: inline-block;
}

.hey {
  font: normal 14px sans-serif;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 5px;
}

.hey-anchor-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


header .right {
  overflow: hidden;
}

header .right a {
  position: relative;
  display: inline-block;
  float: left;
  font: normal 20px sans-serif;
  color: #333;
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .3s ease-out;
  vertical-align: middle;
}

header .right a:hover {
  background-color: #f9f9f9;
}

header .right a::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  bottom: -5px;
  transition: all .2s ease-out;
}


header .right a:nth-child(even)::after {
  background: dodgerblue;
}

header .right a:nth-child(even):hover {
  color: dodgerblue;
}


header .right a:nth-child(odd)::after {
  background: orangered;
}

header .right a:nth-child(odd):hover {
  color: orangered;
}

header .right a:hover::after {
  bottom: 0px !important;
}

header .right a:hover {}


.bottom_line li a:hover:not(.active)::after {
  bottom: 0px;
}


.main-home-outer {
  width: 1100px;
  background-color: white;
  margin: auto;
  padding-top: 30px;

}

.main-home {
  display: flex;
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.main-home .left,
.main-home .right {}

.main-home .left {
  flex: 2;
  overflow: hidden;
}

.main-home .right {
  flex: 1;
}

.main-home .right img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #999;
  z-index: 99999999999;
  padding: 10px;
  border-radius: 50%;
  border-radius: 4px;

}

.hi-whole {
  width: 90%;
  height: 100%;
  margin-left: -70px;
  background: yellow;
  transform: skewX(30deg);
}

.hi,
.iam,
.myquote {
  display: inline-block;
  transform: skewX(-30deg);
}

.hi {
  margin-left: 200px;
  font: bold 100px sans-serif;
}

.iam {
  margin-left: 153px;
  font: bold 54px sans-serif;
  text-transform: uppercase;
}

.iam b {
  background: white;
  padding-left: 6px;
  padding-right: 6px;
  border-left: 10px dashed yellow;
  border-right: 10px dashed yellow;
  border-top: 10px dashed yellow;
  border-bottom: 10px dashed yellow;
}

.myquote {
  margin-left: 57px;
  font: bold 50px sans-serif;
  text-transform: uppercase;
  margin-top: 45px;
  border: 10px dashed yellow;
  background: white;
  margin-right: 58px;
  text-align: -webkit-center;
  padding-top: 6px;
  padding-bottom: 6px;
}

/*//////////////////////////*/
.who-i-am,
.tech-stack {
  background: white;
  margin-left: 40px;
  margin-right: 40px;

}


.heading-li {
  display: inline-block;
  color: black;
  transform: skewX(40deg);
  background-color: #fcef2e;
  margin-top: 70px;
  margin-bottom: 30px;


}

.heading-li span {
  display: inline-block;
  text-transform: uppercase;
  transform: skewX(-40deg);
  font: bold 20px sans-serif;
  padding: 10px 25px;
  border: 10px dashed white;
}

.who-bio {
  background-color: white;
  text-align: center;
}

.who-bio p {
  width: 900px;
  display: inline-block;
  border: 20px dashed white;
  background-color: #fcef2e;
  padding: 10px 30px;
  text-align: justify;
  font: normal 18px sans-serif;
  word-spacing: 5px;
  line-height: 30px;
}

.who-bio p img{
  display: inline-block;
  width: 65px;
  float: left;
  margin-right: 10px;
  border: 2px solid white;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.tech-stack {}

.tech-stack-inner {}

.tech-container {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 40px;
}

.tech-item-div {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  transition: all .2s ease-in-out;

}

.tech-item-div:hover {}

.tech-item-div {
  margin-right: 20px;
}

.tech-item-div:first-of-type {
  margin-left: 20px;
}


.tech-item-div img {
  width: 100%;
  height: auto;
}

.tech-proficiency {
  position: relative;
  display: block;
  text-align: center;
  background: white;
  border: 1px solid #eee;
  z-index: 100;
  font: bold 18px sans-serif;
}

.tech-proficiency::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(45deg, white, #fcef2e);
}

.java-p::after {
  width: 90%;

}

.dot-net-p::after {
  width: 60%;

}

.python-p::after {
  width: 70%;

}

.sql-server-p::after {
  width: 85%;

}

.tech-proficiency b {
  font: bold 19px sans-serif;
  color: black;
}